{% extends "::base.html.twig" %}

{% block title %}AdminBundle:ComprarTransaction:comprarEdit{% endblock %}

{% block body %}
<h1>Welcome to the ComprarTransaction:comprarEdit page</h1>
{% endblock %}
