{% extends "::base.html.twig" %}

{% block title %}AdminBundle:TarjetaTransaction:trajetaEdit{% endblock %}

{% block body %}
<h1>Welcome to the TarjetaTransaction:trajetaEdit page</h1>
{% endblock %}
