{% extends "::base.html.twig" %}

{% block title %}AdminBundle:DineroEnCasaTransaction:dineroencasaEdit{% endblock %}

{% block body %}
<h1>Welcome to the DineroEnCasaTransaction:dineroencasaEdit page</h1>
{% endblock %}
